html, body {
    background-color: #282830;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282830;
    margin: 0;
    padding: 0;
    height: 400px;
}

header * {
    margin: 0;
    padding: 0;
}

header img {
    max-height: 100%;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    float: left;
}

header h1 {
    font-family: "Aldrich", sans-serif;
    color: #ECF0F1;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}

