html, body {
    background-color: #282830;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282830;
    margin: 0;
    padding: 0;
    height: 400px;
}

header * {
    margin: 0;
    padding: 0;
}

header img {
    max-height: 100%;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    float: left;
}

header div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

header div h1 {
    font-family: "Aldrich", sans-serif;
    color: #ECF0F1;
    font-size: 50px;
    font-weight: normal;
}

header h1 span {
        font-weight: bold;
        color: #2ECC71;
}

header div h3 {
    margin-top: 20px;
    font-family: "Aldrich", sans-serif;
    color: #ECF0F0;
    opacity: 0.5;
    font-size: 25px;
    font-weight: normal;
    text-align: justify;
    margin-left: 48%;
}

header p {
    font-family: "Aldrich", sans-serif;
    color: #ECF0F1;
    font-size: 15px;
    margin-bottom: 40px;
    margin-left: 45%;
    text-align: justify;
}

header div:nth-child(3) {
    height: 200px;
}

header div:nth-child(3) ul {
    margin-top: 50px;
    margin-left: 40%;
}

header div:nth-child(3) ul li {
    height: 40px;
    width: 40px;
    display: inline;
    float: left;
    padding-right: 10px;
}

header div:nth-child(3) ul li a {
    height: inherit;
    width: inherit;
}

header div:nth-child(3) ul li a img{
    height: inherit;
    width: inherit;
    margin: 0;
    opacity: 0.6;
}

header div:nth-child(3) div .shape {
    height: 30px;
    width: 30px;
    background-color: #2ECC71;
    border-radius: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

header div:nth-child(3) .package-one {
    float: left;
    top: 0px;
    left: 100px;
    margin-left: 5%;
}

header div:nth-child(3) .package-two {
    margin-left: 0;
    top: 50px;
    left: -100px;
    position: relative;
    float: left;
    height: auto;
}