
section {
  column-count: 2;
  column-gap: 80px;
  margin: 70px;
  text-align: justify;
  > div {
    margin-bottom: 40px;
    > h1 {
      font-family: $font-main;
      font-size: 18px;
      color: $top;
      text-shadow: 1px 0 $top;
      letter-spacing: 1px;
      font-weight: 900;
      text-transform: uppercase;
      border-bottom: 3px solid $top;
      padding-bottom: 5.5px;
      margin-bottom: 25px;

    }
    > p {
      color: lighten( $top, 10% );
    }

    > div {
        margin-left: 60px;
        position: relative;
        padding-bottom: 25px;
        > h1 {
          position: relative;
          color: lighten( $top, 10% );
          font-size: 16px;
          > span {
            color: lighten( $top, 60% );
            font-size: 16px;
          }

          & + h2 {
            color: lighten( $top, 60% );
            font-size: 16px;
          }
        }

        > h1 + p, h2 + p {
          margin-top: 15px;
        }

        > p {
          font-size: 16px;
          color: lighten( $top, 30% );
        }
      }

    &:nth-child(2) {
      > div {
        &:after {
          position: absolute;
          left: -36px;
          top: 5px;
          height: 100%;
          border-left: solid 1px $top;
          content: '';
        }
        > h1 {
        &::before {
          position: absolute;
          left: -42px;
          top: 5px;
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: $top;
        }
      }
      }
    }

    &:nth-child(3) {
      > div {
         > h1 {
           &::before {
             position: absolute;
             left: -55px;
             top: 5px;
             content: "";
             background-image: url(../Assets/Images/medal.png);
             background-size: 40px 40px;;
             display: inline-block;
             width: 40px;
             height: 40px;
           }
         }
       }
    }

    &:nth-child(4) {
      > div {
        > h1 {
          &::before {
            position: absolute;
            left: -55px;
            top: 5px;
            content: "";
            background-image: url(../Assets/Images/school.png);
            background-size: 40px 40px;;
            display: inline-block;
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    &:nth-child(5) {

      > div {
        margin-left: 0px;
        margin-bottom: 25px;
        padding-bottom: 0px;
        column-count: 2;
        column-gap: 5px;
        width: 180px;

        > div {
          position: relative;
          min-height:28px;
          display: flex;
          align-items: center;
          &:last-child {
            $total-width : 470px;
            width: $total-width;
            height: 28px;
            background: $top;
            border-radius:0.8em;

            @for $i from 1 through 10 {
              &.value-#{$i} {
                width: ( ( $total-width / 10 ) * $i );
              }
            }

          }
          > h1 {
            color: lighten( $top, 10% );
            font-size: 16px;
            text-transform: uppercase;
            > span {
              color: lighten( $top, 60% );
              font-size: 16px;
            }
          }
        }
      }

    }

    &:nth-child(6) {
      > div {
        @import "Bar.scss";
      }
    }
  }
}
